button {
  background-color: #10b981;
  color: #f6f7f7;
  border-radius: 6px;
  border: none;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  width: 191px;
  height: 42px;
  margin-top: 27px;
  margin-bottom: 35px;
  font-size: 16px;
}

body {
  background-color: #1f2937;
  text-align: left;
  font-family: "Inter", sans-serif;
  width: 550px;
  height: 550px;
  margin: 0;
  box-sizing: border-box;
  padding: 50px 50px;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 40px;
  margin-left: 0px;
  margin-right: auto;
  font-weight: bold;
  color: white;
  font-size: 40px;
  margin-bottom: 3.5px;
  width: 372px;
  height: 28px;
}

h4 {
  font-family: "Inter", sans-serif;
  width: 372px;
  height: 28px;
  font-weight: bold;
  color: #10b981;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

hr {
  width: 446px;
  height: 1px;
  background-color: #273549;
  align-items: left;
  margin-left: 0;
  margin-right: auto;
  border: none;
  border-top: none;
}

.para {
  color: #d5d4d8;
  font-weight: regular;
  font-size: 20px;
  margin-top: 25px;
  width: 372px;
  height: 27px;
}

.password-box {
  background-color: #273549;
  color: #55f991;
  border-radius: 6px;
  border: none;
  padding: 9px 15px;
  width: 48%;
  height: 39px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
  gap: 24px;
}
