body {
  background-color: #1c1c1c;

  /* OPTIONAL: Remove default browser margins on the body */
  margin: 0;
  padding: 0;
}

#mainframe {
  width: 550px;
  height: 720px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  align-items: center;
}
#first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  background-color: #6943ff;
  width: 550px;
  height: 285px;
}

#title-head {
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: bolder;
  width: 448.4px;
  height: 38px;
  font-size: 28px;
  margin-top: 33px;
  margin-left: 51px;
}

#input-fe {
  margin-top: 33px;
  min-width: 117px;
  width: 20%;
  max-width: 250px;
  height: 83px;
  border-radius: 5px;
  border: 2px solid #b295ff;
  box-sizing: border-box;
  background-color: transparent;
  margin-bottom: 25px;
  font-size: 58px;
  font-weight: bolder;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

#convert-btn {
  width: 117px;
  height: 41px;
  border-radius: 5px;
  border: none;
  font-weight: normal;
  color: #3d3d3d;
  background-color: #ffffff;
}

.output-box {
  /* margin-top: 70px; */
  margin-left: 25px;
  margin-right: 25px;
  background-color: #273549;
  align-items: center;
  width: 500px;
  height: 108.57px;
}

.length-header {
  color: #ccc1ff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 31px;
  padding-bottom: 2px;
  font-family: Inter, sans-serif;
}

.output-p {
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  padding-bottom: 25px;
}
